body {
  margin: 0;
}
.sidebar-body {
  max-height: 100%;
  height: 100%;
  overflow: hidden;
}
.guilds-sidebar {
  position:absolute;
  width: 80px;
  height: 95vh;
  overflow: scroll;
  background-color: #0A1929;
}

.guilds-sidebar img {
  width: 55px;
  height: auto;
  border-radius: 50%;
}
.guilds-sidebar .guild-icon {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.guilds-sidebar .usericon img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.guilds-sidebar .usericon {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.guilds-sidebar hr {
  width: 50px;
  height: 3px;
  background-color: #0195FA;
  border: 1px solid #0195FA;
  border-radius: 5px;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.guild-icon.active-guild {
  background-color: #fff;
}



.sidebar {
  margin-left: 80px;
  padding: 10px;
  width: 300px;
  background-color: #122C48;
  position: absolute;
  height: 85vh;
  overflow: scroll;
  border-radius: 20px;
  font-size: 15px;
}
.sidebar::-webkit-scrollbar { 
	display: none;
}

.guilds-sidebar::-webkit-scrollbar { 
	display: none;
}

.sidebar a {
  display: block;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  margin-top: 3%;
  background-color: #143253;
  border-radius: 8px;
}
 
.sidebar a.active {
  background-color: #0195FA;
  border-radius: 8px;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #15365A;
  border-radius: 8px;
  color: white;
}

div.content {
  background-color: #0E2237;
  margin-left: 350px;
  height: 85vh;
  display: block;
  overflow: scroll;
}
.server {
  padding: 5px;
  text-align: center;
}
.server img {
  border-radius: 50px;
  border: 2px solid #0195FA;
}




ul {
  margin: 0;
  padding: 0;
}

ul li a:hover {
  cursor: pointer;
}
.expand-button {
  display: none;
}
@media (max-width: 1060px) {
  .sidebar {
    display: none;
  }
  .guilds-sidebar {
    display: none;
  }

  div.content {margin-left: 0; }
  
  div.content {
    transition: opacity .3s ease-in-out;
    padding: 0;
  }

  .content.blur {
    backdrop-filter: blur(105px);
    opacity: .5;
  }
  
.guilds-sidebar-expanded {
  z-index: 9999;
  display: flex;
  flex-direction: row;
  position:absolute;
  width: 100%;
  height: 70px;
  overflow: scroll;
  background-color: #0A1929;
}

.guilds-sidebar-expanded img {
  padding: 4px;
  width: 55px;
  height: auto;
  border-radius: 50%;
}
.guilds-sidebar-expanded .guild-icon {
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.guilds-sidebar-expanded .usericon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.guilds-sidebar-expanded .usericon {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.guilds-sidebar-expanded hr {
  margin-top: 14px;
  padding: 0.7px;
  height: 45px;
  background-color: #0195FA;
  border: 1px solid #0195FA;
  border-radius: 5px;
  display: block;
}

.guild-icon.active-guild {
  background-color: #fff;
}

.sidebar-expanded {
  margin-top: 80px;
  padding: 10px;
  width: 100%;
  background-color: #122C48;
  position: absolute;
  height: 85vh;
  overflow: scroll;
  border-radius: 20px;
  font-size: 15px;
  z-index: 100;
}
.sidebar-expanded::-webkit-scrollbar { 
	display: none;
}

.guilds-sidebar-expanded::-webkit-scrollbar { 
	display: none;
}

.sidebar-expanded a {
  display: block;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  margin-top: 3%;
  background-color: #143253;
  border-radius: 8px;
}
 
.sidebar-expanded a.active {
  background-color: #0195FA;
  border-radius: 8px;
  color: white;
}

.sidebar-expanded a:hover:not(.active) {
  background-color: #15365A;
  border-radius: 8px;
  color: white;
}
.expand-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  height: 55px;
  width: 55px;
  background-color:#0195FA;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  transition: all 0.5s ease;
}
}



.rotate {
  transform: rotate(180deg);
}