@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #0075ff;
  border: 0px none #ffffff;
  border-radius: 83px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0075ff;
}
::-webkit-scrollbar-thumb:active {
  background: #076ad5;
}
::-webkit-scrollbar-track {
  background: #0e2237;
  border: 0px none #ffffff;
  border-radius: 78px;
}
::-webkit-scrollbar-track:hover {
  background: #0e2237;
}
::-webkit-scrollbar-track:active {
  background: #0e2237;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


.App {
  display: flex;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  max-width: 100vw;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
.gradient-text {
  background-image: linear-gradient(43deg, #055EC3 0%, #019EFF 46%, #047AEC 100%, #01BCFF 0%);
  background-color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.leckerli-one {
  font-family: 'Leckerli One', cursive;
}

.background {
  z-index: -1;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  top: 0;
  right: 30%;
  left: 0;
  background-color: #0A1929;
  background-size: 43rem;
  background-attachment: scroll;
  background-position: center;
  background-repeat: repeat;
  background-image: url("./assets/images/background.png");
  animation: animBackground 51s linear infinite;
}

.background-gaby {
  z-index: -1;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  top: 0;
  right: 30%;
  left: 0;
  background-size: auto 95vh;
  background-attachment: scroll;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-image: url("./assets/images/background-gaby.png");
}

.home-start-section-container {
    width: 45vw;
    height: 80vh;
    position: absolute;
    left: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-start-section-text {
    text-align: center;
    color: #fff;
}

.home-start-section-text h1 {
  font-size: 59px;
  font-weight: 400;
  line-height: 68px;
}

.sniglet {
  font-family: 'Sniglet', cursive;
}

.sans-font {
  font-family: 'Source Sans Pro', sans-serif;
}

@media screen and (max-width: 1000px){
  .background-gaby {
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    right: 30%;
    left: 0;
    background-size: 0px;
    background-attachment: scroll;
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  .home-start-section-container {
    width: 45vw;
    height: 50vh;
}
.home-start-section-text h1 {
  font-size: 50px;
  font-weight: 400;
  line-height: 68px;
}
}

@media screen and (max-width: 1000px){
  .home-start-section-container {
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    margin: 10% 0 0 -50%;
  }
}

@keyframes animBackground {
	from { background-position: 0 0; }
	to { background-position: 600px 0; }
}

.toast-message {
  font-size: 15px;
}
.press-start {
  font-family: 'Press Start 2P', cursive;
}
.area{
  background-color:#0C1E31; 
      border: 1px solid #10273F;
     }

.area-header{border-radius: 8px 8px 0px 0px; border-bottom: 1px solid #10273F;}


.guilds-area {
  align-items: center;
  margin-left: auto; 
  margin-right: auto;
  height: auto;
  width: 90%;
  background-color: #10273F;
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,.125);
  margin-bottom: 10px; 
  display: flex;
  justify-content: space-between;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 4px;
  transition: transform 250ms;
}

  
  .guilds-area:hover {
    transform: translateY(-5px);
  }
  .p-multiselect {
  min-width: 100% !important;
  max-width: 40% !important;
   font-size: 12px !important;
  
}

.p-multiselect-item {
  font-size: 12px !important;
}

.p-multiselect-label-container {
   color: #FFF !important;
}
.p-multiselect-token {
  padding: 0.5rem !important;
  background-color: #0195FA !important;
  color: #FFF !important;
  font-size: 12px !important;
}
/***

.p-inputswitch .p-inputswitch-slider {
  height:25px !important;
  width: 45px !important;
}
.p-inputswitch .p-inputswitch-slider:before {
    background: #ffffff;
    width: 1.7rem !important;
    height: 1.7rem !important;
    left: 0.2rem !important;
    margin-top: -0.835rem !important;
    border-radius: 50% !important;
    transition-duration: 0.2s !important;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
    transform: translateX(2.2rem) !important;
}
**/
.p-button {
  min-width: 65px !important;
  min-height: 35px !important;
}

.p-button-label {
  font-size: 15px !important;
}


@media screen and (max-width: 700px) {
  .guild-area {
    width: 100%;
  }
}

.info-section {
  padding: 5%;
  height: 100%;
  width: 100%;
  background-color: #72A6FF;
  text-align: center;
}
.info-section h1 {
  font-size: 35px;
  color: #fff;
}
.info-section p {
  padding: 0 10% 0 10%;
  font-size: 17px;
  color: #fff;
}

.features-section {
  text-align: center;
}

.features-section h1 {
  font-size: 35px;
  color: #fff;
}
.features-section p {
  padding: 0 10% 0 10%;
  font-size: 17px;
  color: #fff;
}

.features-grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
}

@media (min-width: 650px) {  
  .features-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
  }  
}

@media (min-width: 650px) {  
  .adverse {
    order: 2;
  }  
}

.features-image img {
  width: 50%; 
  border-radius: 5%;
}

.features-text h2 {
  font-size: 50px;
}

.features-text p {
  font-size: 18px;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.container-404 {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1456' height='350' preserveAspectRatio='none' viewBox='0 0 1456 350'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1364%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c62 C 97.2%2c80.8 291.6%2c163.2 486%2c156 C 680.4%2c148.8 778%2c30.6 972%2c26 C 1166%2c21.4 1359.2%2c111.6 1456%2c133L1456 350L0 350z' fill='rgba(14%2c 34%2c 55%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c247 C 145.6%2c262.6 436.8%2c339.6 728%2c325 C 1019.2%2c310.4 1310.4%2c204.2 1456%2c174L1456 350L0 350z' fill='rgba(18%2c 44%2c 72%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1364'%3e%3crect width='1456' height='350' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  max-height: 100vh;
  height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;
}
.container-404page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 15rem;
}

.quicksand-300 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 25px;
}

.quicksand-400 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 25px;
}

.content-container {
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.content-container.flex-column {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1060px) {
  .content-container {
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .content-container.flex-column {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.daily-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: auto;
  background-color:#0D1F33;
  padding: 2rem;
  border-radius: 16px;
  margin-top: 2rem;
}

.contdown-daily {
  color: #15365A;
  font-size: 20px;
}

@media screen and (max-width: 700px) {
  .daily-area {
    width: 100%;
  }
}